<div class="row">
  <li><strong><%= f.object.question.content %></strong></li>
  <% f.object.question.answers.each do |answer| %>
    <label class="radio">
      <%= f.radio_button :answer_id, answer.id %>
      <%= answer.content %>
    </label>
  <% end %>
</div>
